<div class="wrapper">
  <div class="profile box">
    <div class="prof">
      <div class=" img">
        <img
          src="https://media.licdn.com/dms/image/C5103AQE8-fpRDW8tVw/profile-displayphoto-shrink_200_200/0?e=1548288000&v=beta&t=TamjnpQtdUloXtUVgJTwFD--X5eoEDjL4cPdtGBPxOA"
          alt=""
        />
      </div>
      <div class="detail">
        <kbd class="text">Aman Kumar Kapur</kbd><br />
        <div class="more-detail">
          <kbd>Edit <i class="fa fa-pencil-square" aria-hidden="true"></i></kbd>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="userlist box">list</div>
</div>
