<div class="wrapper">
  <div class="profile box">
    <div class="prof">
      <div class=" img">
        <img [src]="profile_pic" alt="" *ngIf="profile_pic; else: default" />
        <ng-template #default
          ><i class="fa fa-user" aria-hidden="true"></i>
        </ng-template>
      </div>
      <div class="detail">
        <kbd class="text">Aman Kumar Kapur</kbd><br />
        <div class="more-detail">
          <kbd>Edit <i class="fa fa-pencil-square" aria-hidden="true"></i></kbd>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="userlist box">list</div>
</div>
