<div class="wrapper">
  <nav>
    <ul class="logo">
      <li class="box">
        <a href=""
          >C<i class="fa fa-connectdevelop fa-spin" aria-hidden="true"></i
          >NNECT</a
        >
      </li>
    </ul>
    <ul class="social">
      <li>
        <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li>
        <a href=""><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>
      <li>
        <a href=""><i class="fa fa-sign-out" aria-hidden="true"></i> Sign up</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
