<div class="wrapper">
  <div *ngIf="!mailSend; else: mailSendTemplate">
    <div class="notes">
      <br />
      <div *ngIf="error" class="alert alert-danger alert-dismissible fade show">
        <strong>{{ error }}</strong>
      </div>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
          placeholder="Password"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Password needs to have 1 lower , 1 Upper , 1 Special character and
          length of more then 8.</small
        >
      </div>
      <!--
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      -->
      <button
        type="submit"
        [disabled]="signUpForm.invalid"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
  <ng-template #mailSendTemplate>
    <div class="notes">
      <div class="alert alert-success">
        <strong
          >Thanks!, Email has been send to your mail id request you to verify
          your account</strong
        >
      </div>
    </div>
  </ng-template>
</div>
