$primary-color: #3498DB;
$secondary-color: Black;
$primary-color-2:#1ABC9C;

@mixin opacity-glow {
  @keyframes opacity {
    from {
      position: relative;
      opacity: 0.2;
      font-size: 10px;
    }

    to {
      position: relative;
      opacity: 1;
      font-size: 50px;
    }
  }
}
@mixin opacity-move {
  @keyframes opacity {
    from {
      position: relative;
      opacity: 0.2;
      left: -10%;
    }

    to {
      position: relative;
      opacity: 1;
      left: 10%;
    }
  }
}

@mixin mixcolor(){
    background: linear-gradient(
      to right,
      $primary-color,
      $primary-color-2
    )
}

@mixin mixtext(){
    color:linear-gradient(
      to right,
      $primary-color,
      $primary-color-2
    )
}